/* Colors for Project: 
Emerald Green: Hex #466458
Sage Green: HEX #91A78F
Ballet Pink: HEX #FDEEE7
Light Sage: HEX #B4C9BB
Salamander: HEX #699886
Fonts for Project: 
Lato: 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
Hello Paris:
@font-face {
    font-family: "Hello Paris Script";
    src: url("https://db.onlinewebfonts.com/t/bea2de6d24c35d0894f1bd50c2f994f3.eot");
    src: url("https://db.onlinewebfonts.com/t/bea2de6d24c35d0894f1bd50c2f994f3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bea2de6d24c35d0894f1bd50c2f994f3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bea2de6d24c35d0894f1bd50c2f994f3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bea2de6d24c35d0894f1bd50c2f994f3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bea2de6d24c35d0894f1bd50c2f994f3.svg#Hello Paris Script")format("svg");}*/
body {
    background-color: #466458;
}
    /* header and nav */
.nav {
        display: flex;
        display: inline-block;
        background-color: #91A78F;
        vertical-align: top;
    }
ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 20px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  li a {
    padding: 20px;
    background-color: #91A78F;
    text-decoration: none;
    color: black;
    font-family: Lato, Helvetica, sans-serif;
    }
    .logo img {
        width: 10%;
        height: auto;
        background-color: #91A78F;
    }
    
/* About Me */
.aboutme1 {
    display: flex;
}
.aboutme2 {
    display: flex;
}
.aboutmeimage1 {
    width: 30%;
    height: auto;
}
.aboutmeimage2 {
    width: 50%;
    height: auto;
}
div h1 {
        color: white;
        font-family: Lato, Helvetica, sans-serif;
    }
div h2 {
        color: white;
        font-family: Lato, Helvetica, sans-serif;
       }
div h3 {
        color: white;
        font-family: Lato, Helvetica, sans-serif;
        }
div h4{
        color: white;
        font-family: Lato, Helvetica, sans-serif;
        }
div h5{
        color: white;
        font-family: Lato, Helvetica, sans-serif;
        }

/* My Work */
.MyWork {
   
    }
img {
    width: 100%;
    height: auto;
}

/* Skills */


/* Footer */
footer h2 {
    color: white;
    font-family: Lato, Helvetica, sans-serif;
   }
footer p {
    color: white;
    font-family: Lato, Helvetica, sans-serif;
    }


